MERCADO_PAGO_PUBLIC_KEY=APP_USR-SUA_PUBLIC_KEY
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-SEU_ACCESS_TOKEN
MERCADO_PAGO_CLIENT_ID=SEU_CLIENT_ID
MERCADO_PAGO_CLIENT_SECRET=SEU_CLIENT_SECRET
MERCADO_PAGO_WEBHOOK_SECRET=SUA_ASSINATURA_SECRETA_DO_WEBHOOK
MERCADO_PAGO_WEBHOOK_URL=
BUSINESS_NAME=RIFAS E BONUS LTDA
PORT=8000
